<header class="container-fluid">
	<div class="row headerRow">
		<section class="leftSection col-md-8">
			<div class="navbar-header">
			    <button type="button" class="navbar-toggle navbarToggleBtn"
			    data-toggle="collapse"
			    data-target=".navbar-collapse">
					<i class="fa fa-bars"></i>
			    </button>
				<a class="navbar-brand" href="/#/">
					<img src="img/logo.png" alt="logo-ng-shop">
				</a>
			</div>

			<div id="productsBasketIcon" class="pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">
				<i class="fa fa-arrow-circle-down btnDown empty"></i>
				<i id="basketSVGicon" ng-include="logoBasket"></i>
			</div>

			<div id="productsBasketModal" class="modal fade bs-example-modal-lg">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<i class="fa fa-times-circle"></i>
						</button>
							<h4 class="modal-title">
								<i class="fa fa-shopping-cart"></i>
								Products basket
							</h4>
						</div>
							<table class="table table-striped basketProducts">
								<thead>
									<tr>
										<th class="bp-Name">Name</th>
										<th class="bp-Quantity">Quantity</th>
										<th class="bp-Amount">Amount</th>
										<th class="bp-Total" colspan="2">Total</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="product in basket">
										<td>{{product.name}}</td>
										<td>
											<div class="input-group input-group-quantity">
											  <span class="input-group-btn">
											    <button type="button" class="btn btn-info btn-xs" ng-click="minusQuantity($index)">
											    	<i class="fa fa-minus"></i>
											    </button>
											  </span>
											  <input type="text" class="form-control" ng-model="product.quantity">
											  <span class="input-group-btn">
											    <button type="button" class="btn btn-info btn-xs" ng-click="plusQuantity($index)">
											    	<i class="fa fa-plus"></i>
											    </button>
											  </span>
											</div>
										</td>
										<td>$ {{product.price}}</td>
										<td>$ {{product.quantity * product.price}}</td>
										<td>
											<i class="fa fa-trash-o remProduct" ng-click="removeProduct(product.id)"></i>
										</td>
									</tr>
								</tbody>
							</table>
						<div class="modal-footer">
						<div class="pull-left">
							Total payment <b>$ {{totalQuantity() | currency:""}}</b>
						</div>
							<button class="btn btn-primary" type="button">
								<i class="fa fa-credit-card"></i>
								Checkout
							</button>
						</div>
					</div>
				</div>
			</div>

			<nav id="navMenu" class="collapse navbar-collapse pull-right">
				<ul class="nav navbar-nav">
				  <li ng-repeat="item in menu" ng-class="{'dropdown': item.subLevel.length > 0}"
				      ng-include="navMenu">
				  </li>
				</ul>
			</nav>
		</section>

		<section class="rightSection col-md-4">
		    <div class="input-group searchAndBtns">
		       <span class="input-group-btn">
		        <button id="btnSiteSearch" class="btn btn-danger" type="button">
		        	<i class="fa fa-search"></i>
		        </button>
		      </span>
		      <input id="siteSearch" type="text" class="form-control"
		      placeholder="Site search ...">
		      <div class="input-group-btn">
		        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
		        	Administrator <span class="caret"></span>
		        </button>
		        <ul class="dropdown-menu dropdown-menu-right">
		        <li>
					<div id="laguages" class="btn-group btn-group-xs btn-group-justified">
						<label class="btn btn-info"
						ng-model="langModel" btn-radio="'ru'">RU</label>
						<label class="btn btn-info"
						ng-model="langModel" btn-radio="'en'">EN</label>
						<label class="btn btn-info"
						ng-model="langModel" btn-radio="'ua'">UA</label>
					</div>
		        </li>
				    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Preferences</a></li>
				    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
		        </ul>
		      </div>
			</div>
		</section>
	</div>
</header>