<header class="container-fluid">
	<div class="row headerRow">
		<section class="leftSection col-md-8">
			<div class="navbar-header">
			    <button type="button" class="navbar-toggle navbarToggleBtn"
			    ng-click="isCollapsedMenu = !isCollapsedMenu">
					<i class="fa fa-bars"></i>
			    </button>
				<a class="navbar-brand" href="/#/">
					<img src="img/logo.png" alt="logo-ng-shop">
				</a>
			</div>

			<nav id="navMenu" collapse="isCollapsedMenu">
				<ul class="nav navbar-nav">
				  <li ng-repeat="item in menu" ng-class="{'dropdown': item.subLevel.length > 0}"
				      ng-include="navMenu">
				  </li>
				  <li id="productsBasketIcon" ng-click="openModal('lg')">
					<i class="basketSVGicon" ng-include="logoBasket"></i>
					<span>
						<i class="productsInBasket" ng-show="numberOfproducts()">{{numberOfproducts()}}</i>
						<i class="caret"></i>
					</span>
				  </li>
				</ul>
			</nav>
		</section>

		<section class="rightSection col-md-4">
		    <div class="input-group searchAndBtns">
		       <span class="input-group-btn">
		        <button id="btnSiteSearch" class="btn btn-danger" type="button">
		        	<i class="fa fa-search"></i>
		        </button>
		      </span>
		      <input id="siteSearch" type="text" class="form-control"
		      placeholder="Site search ...">
		      <div class="input-group-btn" dropdown>
		        <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
		        	Administrator <span class="caret"></span>
		        </button>
		        <ul class="dropdown-menu dropdown-menu-right">
		        <li>
					<div id="laguages" class="btn-group btn-group-xs btn-group-justified">
						<label class="btn btn-info"
						ng-model="langModel" btn-radio="'ru'">RU</label>
						<label class="btn btn-info"
						ng-model="langModel" btn-radio="'en'">EN</label>
					</div>
		        </li>
				    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Preferences</a></li>
				    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
		        </ul>
		      </div>
			</div>
		</section>
	</div>
</header>