<ul class="productsList">
	<li ng-animate="'animate'"
		ng-repeat="(key,val) in displayProducts | filter:q | orderBy:predicate:reverse">
            <a ng-href="#/products/{{val.category}}/{{val.id}}" class="thumb" title="{{val.name}}">
                <img ng-src="img/products/{{val.category}}/{{val.img}}" alt="{{val.name}}">
            </a>
            <a ng-href="#/products/{{val.category}}/{{val.id}}">{{val.name}}</a>
		      <span>Price: <b>$ {{val.price}}</b></span>
            <button type="button"
            ng-click="addToCart(val.id, val.price, val.name)"
            class="addToCart btn btn-success btn-xs">
            <i class="fa fa-plus"></i> Add to cart</button>
	</li>
</ul>