<form name="loginForm" id="loginForm" ng-submit="logIn(email, password)">

    <div ng-switch="wrongCredentials">
        <div class="alert alert-danger" ng-switch-when="true">
           <b><i class="fa fa-exclamation-triangle"></i> Wrong Credentials</b>
        </div>
        <div class="alert alert-info" ng-switch-default>
           <b>Login form</b>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
           <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
           <input type="email" class="form-control" placeholder="Email" ng-model="email" required>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Password" ng-model="password">
        </div>
    </div>

    <div class="row">
        <div class="btn-group btn-group-sm col-md-12">
            <button type="submit" class="btn btn-primary btn-sm col-md-7" ng-disabled="!password">
                <i class="fa fa-sign-in"></i> Log in
            </button>
            <button type="button" class="btn btn-primary btn-sm col-md-4">
                Registration
            </button>
            <button type="button" class="btn btn-danger btn-sm col-md-1" ng-click="closeModal()">
                <i class="fa fa-times-circle"></i>
            </button>
        </div>
    </div>

</form>