<div id="productDetail" class="row">

  <div class="col-md-5">
    <div class="row">
        <img src="425x425.jpg" alt="425x425">
    </div>
    <div class="row">
        <img src="125x125.jpg" alt="125x125">
        <img src="125x125.jpg" alt="125x125">
        <img src="125x125.jpg" alt="125x125">
        <img src="125x125.jpg" alt="125x125">
    </div>
  </div>

  <div class="col-md-7">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>{{thisProduct.name}}</h3>
      </div>
      <div class="panel-body">
        <p>
            Some default panel content here. Nulla vitae elit libero,
            a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.
            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
            vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>
      </div>
        <table class="table">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>

</div>